{% extends 'base.html' %}
{% load static %}

{% block content %}
 <div class="container">
  <div style="width: 400px; margin:auto; justify-content:center">

    <img src="https://scontent.fmnl4-6.fna.fbcdn.net/v/t39.30808-6/312873537_114278604807727_5071436501267512470_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=09cbfe&_nc_eui2=AeEjruLmx3HeuS_i53eZkVxPiaJZXwt8JCKJollfC3wkIgIBGaBT7AFJZD34AzGu3Gm6csiZf2BAF48agIWh1seQ&_nc_ohc=_5EDzli6HeYAX89ayNT&_nc_ht=scontent.fmnl4-6.fna&oh=00_AfAeqgTQRY6VA-AjJZzCcR2BuRRSOVrXCdlslBRRHzTxtg&oe=63891311" alt="what" style="width:400px; height:400px; border-radius:50px; ">
    <img src="https://scontent.fmnl4-2.fna.fbcdn.net/v/t39.30808-6/316109313_5601456443303024_7726944102233424203_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=174925&_nc_eui2=AeF2HcIKYyW58a-IxfaNqqrspxLgty3MurSnEuC3Lcy6tFaNl5wGHVDcDiAaDpR-mZ2M2VLWVndFC9CQZeRxTc-f&_nc_ohc=Y8Rk9WVeg70AX-n7A-r&_nc_ht=scontent.fmnl4-2.fna&oh=00_AfCyTfNVakJyWWd0c0-vULzb7JdrsGmy8OaLTbT6o0RWJQ&oe=638A6165"  style="height: 150px; width:150px; border-radius:150px; border:1px solid black; position:relative; top:-100px; left:120px" alt="">
    <div style="text-align: center; position:relative; top:-110px">
<br>
        <H2>GINTOKI SAKATA</H2>
        <h4 style="line-height: 5px;">GINTAMA</h4>

    </div>   
</div>
{% endblock content %}